@import url("common.css");
header {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

header article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 40px;
}

header article h2 {
  font-size: 35px;
}

header article h2 a {
  color: #000;
}

header article nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header article nav ul li {
  position: relative;
}

header article nav ul li a {
  color: #000;
  position: relative;
}

header article nav ul li a::after {
  content: '';
  width: 0;
  height: 1px;
  background: #000;
  -webkit-transition: .7s;
  transition: .7s;
  position: absolute;
  bottom: 0;
  left: 0;
}

header article nav ul li a:hover::after {
  width: 100%;
}

header article nav ul li a img {
  width: 5%;
  margin: 7px 0 0 12px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s;
  transition: .5s;
}

header article nav ul li a:hover img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header article nav ul li ul {
  position: absolute;
  left: 0;
  display: none;
  -webkit-transition: .5s;
  transition: .5s;
}

header article nav ul li:hover ul {
  display: block;
}

header article nav ul li li {
  margin-top: 25px;
}

header article nav ul:nth-child(3) {
  margin-right: 50px;
}

header article p {
  padding: 0 30px;
}

header article p a {
  margin-right: 80px;
}

header article p a b {
  margin-left: 40px;
}

header article p a b:nth-child(1) {
  text-decoration: underline;
}

header article p span {
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background: #fff;
  text-align: center;
  line-height: 40px;
}

header article p span img {
  width: 17%;
  margin: 15px 0 0 8px;
}

.sub {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.sub .sub_01 .article_01 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
}

.sub .sub_01 .spot_01 {
  padding: 250px 0 0 30px;
}

.sub .sub_01 .spot_01 span {
  display: inline-block;
  margin-bottom: 40px;
}

.sub .sub_01 .spot_01 h2 {
  white-space: pre-line;
  font-size: 55px;
  margin-bottom: 30px;
}

.sub .sub_01 .spot_01 p {
  font-family: 'Noto Sans KR';
  font-weight: bold;
  margin-top: 20px;
}

.sub .sub_02 {
  height: 100vh;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  background: #fff;
  position: absolute;
  left: 0%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
}

.sub .sub_02::-webkit-scrollbar {
  display: none;
}

.sub .sub_02 > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.sub .article_02 {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
}

.sub .article_02 .spot_02 {
  margin: 350px 0 0 50px;
  width: 50%;
  height: 50%;
}

.sub .article_02 .spot_02 span {
  color: #bfbaa5;
  font-weight: bold;
  font-family: 'Noto Sans KR';
}

.sub .article_02 .spot_02 h2 {
  color: #000;
  font-size: 60px;
  font-family: 'Shippori Mincho', serif;
  margin: 40px 0;
}

.sub .article_02 .spot_02 p {
  color: #515050;
  font-size: 16px;
  margin: 10px 0;
  font-family: 'Noto Sans KR';
}

.sub .article_02 .spot_02 a {
  color: #bfbaa5;
  display: inline-block;
  margin: 30px 0;
}

.sub .article_02 .spot_02 a img {
  width: 3%;
}

.sub .article_02 img {
  width: 50%;
  height: 80%;
  margin: 80px 0 0 100px;
}

.sub .article_03 {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: #fff;
}

.sub .article_03 .ment_03 {
  width: 20%;
  margin: 400px 0 0 30px;
}

.sub .article_03 .ment_03 span {
  font-size: 18px;
  font-family: 'Noto Sans KR';
  color: #000;
}

.sub .article_03 .ment_03 h2 {
  font-size: 50px;
  color: #000;
}

.sub .article_03 .spot_03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.sub .article_03 .spot_03 figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px;
  width: 100%;
}

.sub .article_03 .spot_03 figure img {
  width: 60%;
  height: 70%;
}

.sub .article_03 .spot_03 figure figcaption {
  margin-top: 220px;
}

.sub .article_03 .spot_03 figure figcaption span {
  font-family: 'Noto Sans KR';
  font-weight: bolder;
  color: #6c6c6c;
}

.sub .article_03 .spot_03 figure figcaption h2 {
  font-size: 35px;
  margin: 10px 0;
  font-family: 'Marcellus', serif;
}

.sub .article_03 .spot_03 figure figcaption p {
  font-family: 'Noto Sans KR';
  color: gray;
}

.sub .article_03 .spot_03 figure figcaption a {
  display: inline-block;
  margin-top: 35px;
  font-family: 'Noto Sans KR';
  color: #6c6c6c;
}

.sub .article_04 {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: #fff;
}

.sub .article_04 .spot_04 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.sub .article_04 .spot_04 figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 230px 30px 0 30px;
  width: 50%;
}

.sub .article_04 .spot_04 figure img {
  width: 53%;
  height: 70%;
}

.sub .article_04 .spot_04 figure figcaption {
  margin-top: 200px;
}

.sub .article_04 .spot_04 figure figcaption span {
  font-family: 'Noto Sans KR';
  font-weight: bolder;
  color: #6c6c6c;
}

.sub .article_04 .spot_04 figure figcaption h2 {
  font-size: 35px;
  margin: 10px 0;
  font-family: 'Marcellus', serif;
}

.sub .article_04 .spot_04 figure figcaption p {
  font-family: 'Noto Sans KR';
  color: gray;
  font-size: 14px;
}

.sub .article_04 .spot_04 figure figcaption a {
  display: inline-block;
  margin-top: 35px;
  font-family: 'Noto Sans KR';
  color: #6c6c6c;
}

.sub .article_05 {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: #fff;
}

.sub .article_05 .spot_05 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.sub .article_05 .spot_05 figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 230px 30px 0 30px;
  width: 50%;
}

.sub .article_05 .spot_05 figure img {
  width: 53%;
  height: 70%;
}

.sub .article_05 .spot_05 figure figcaption {
  margin-top: 200px;
}

.sub .article_05 .spot_05 figure figcaption span {
  font-family: 'Noto Sans KR';
  font-weight: bolder;
  color: #6c6c6c;
}

.sub .article_05 .spot_05 figure figcaption h2 {
  font-size: 35px;
  margin: 10px 0;
  font-family: 'Marcellus', serif;
}

.sub .article_05 .spot_05 figure figcaption p {
  font-family: 'Noto Sans KR';
  color: gray;
  font-size: 14px;
}

.sub .article_05 .spot_05 figure figcaption a {
  display: inline-block;
  margin-top: 35px;
  font-family: 'Noto Sans KR';
  color: #6c6c6c;
}

.sub .article_06 {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: #fff;
}

.sub .article_06 .spot_06 {
  margin: 400px 0 0 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub .article_06 .spot_06 div {
  margin-right: 200px;
}

.sub .article_06 .spot_06 div p {
  font-family: 'Noto Sans KR';
  color: gray;
}

.sub .article_06 .spot_06 div a {
  color: #000;
  font-weight: bold;
  font-family: 'Noto Sans KR';
  display: inline-block;
  margin-right: 20px;
}

.sub .article_06 .spot_06 div:nth-of-type(3) {
  margin-left: 150px;
}

.sub footer {
  position: fixed;
  padding-top: 20%;
}

.sub footer nav {
  margin-bottom: 100px;
}

.sub footer nav a {
  margin-left: 30px;
  position: relative;
  color: #000;
}

.sub footer nav a::after {
  content: '';
  width: 0;
  height: 1px;
  background: #000;
  -webkit-transition: .7s;
  transition: .7s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.sub footer nav a:hover::after {
  width: 100%;
}

* {
  color: #fff;
}

@media (max-width: 480px) {
  header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  header article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 20px;
  }
  header article h2 {
    font-size: 30px;
  }
  header article h2 a {
    color: #000;
    margin-bottom: 60px;
    display: inline-block;
  }
  header article nav {
    display: block;
    margin-left: 75px;
  }
  header article nav ul li {
    position: relative;
  }
  header article nav ul li a {
    color: #000;
    position: relative;
    display: inline-block;
    width: 150px;
    margin-bottom: 5px;
  }
  header article nav ul li a::after {
    display: none;
    content: '';
    width: 0;
    height: 1px;
    background: #000;
    -webkit-transition: .7s;
    transition: .7s;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  header article nav ul li a:hover::after {
    width: 100%;
  }
  header article nav ul li a img {
    width: 5%;
    margin: 7px 0 0 12px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .5s;
    transition: .5s;
  }
  header article nav ul li a:hover img {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  header article nav ul li ul {
    position: absolute;
    left: 0;
    display: none;
    -webkit-transition: .5s;
    transition: .5s;
  }
  header article nav ul li:hover ul {
    display: block;
  }
  header article nav ul li li {
    margin-top: 25px;
    display: none;
  }
  header article nav ul:nth-child(3) {
    margin-right: 50px;
  }
  header article p {
    padding: 0 30px;
  }
  header article p a {
    margin-right: 80px;
  }
  header article p a b {
    margin-left: 40px;
  }
  header article p a b:nth-child(1) {
    text-decoration: underline;
  }
  header article p span {
    display: none;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background: #fff;
    text-align: center;
    line-height: 40px;
  }
  header article p span img {
    width: 17%;
    margin: 15px 0 0 8px;
  }
  .sub {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .sub .sub_01 .article_01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  .sub .sub_01 .article_01 img {
    height: 700px;
  }
  .sub .sub_01 .spot_01 {
    padding: 0;
    margin-top: 200px;
    text-align: center;
  }
  .sub .sub_01 .spot_01 span {
    display: inline-block;
    margin-bottom: 0px;
  }
  .sub .sub_01 .spot_01 h2 {
    white-space: pre-line;
    font-size: 35px;
    margin-bottom: 30px;
  }
  .sub .sub_01 .spot_01 p {
    font-family: 'Noto Sans KR';
    font-weight: bolder;
    font-size: 13px;
    margin-top: 20px;
  }
  .sub .sub_02 {
    width: 100vw;
    height: 100vh;
    overflow-x: auto;
    background: #fff;
    position: absolute;
    left: 0%;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sub .sub_02 > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .sub .article_02 {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background: #fff;
  }
  .sub .article_02 .spot_02 {
    margin: 180px 0 0 30px;
    width: 50%;
    height: 50%;
    position: absolute;
    z-index: 1;
  }
  .sub .article_02 .spot_02 span {
    color: #bfbaa5;
    font-weight: bold;
    font-family: 'Noto Sans KR';
  }
  .sub .article_02 .spot_02 h2 {
    color: #fff;
    font-size: 40px;
    font-family: 'Shippori Mincho', serif;
    margin: 20px 0;
  }
  .sub .article_02 .spot_02 p {
    color: #fff;
    font-size: 13px;
    margin: 10px 0;
    font-family: 'Noto Sans KR';
    width: 300px;
    margin-bottom: 20px;
  }
  .sub .article_02 .spot_02 a {
    color: #bfbaa5;
    display: inline-block;
    margin: 30px 0;
  }
  .sub .article_02 .spot_02 a img {
    width: 3%;
  }
  .sub .article_02 img {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
  }
  .sub .article_03 {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background: #fff;
  }
  .sub .article_03 .ment_03 {
    display: none;
    width: 100%;
    margin: 300px 0 0 15px;
  }
  .sub .article_03 .ment_03 span {
    font-size: 14px;
    font-family: 'Noto Sans KR';
  }
  .sub .article_03 .ment_03 h2 {
    font-size: 25px;
  }
  .sub .article_03 .spot_03 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .sub .article_03 .spot_03 figure {
    margin: 0 0 140px 20px;
    display: block;
    margin-top: 200px;
    width: 100%;
  }
  .sub .article_03 .spot_03 figure img {
    width: 100%;
    height: 70%;
  }
  .sub .article_03 .spot_03 figure figcaption {
    text-align: center;
    margin-top: 0;
  }
  .sub .article_03 .spot_03 figure figcaption span {
    font-family: 'Noto Sans KR';
    font-weight: bolder;
    color: #6c6c6c;
    font-size: 12px;
    margin: 5px 0;
    display: inline-block;
  }
  .sub .article_03 .spot_03 figure figcaption h2 {
    font-size: 16px;
    margin: 10px 0;
    font-family: 'Marcellus', serif;
    color: #000;
  }
  .sub .article_03 .spot_03 figure figcaption p {
    font-family: 'Noto Sans KR';
    color: gray;
    font-size: 11px;
  }
  .sub .article_03 .spot_03 figure figcaption a {
    display: inline-block;
    margin-top: 5px;
    font-family: 'Noto Sans KR';
    color: #6c6c6c;
  }
  .sub .article_04 {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background: #fff;
  }
  .sub .article_04 .spot_04 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .sub .article_04 .spot_04 figure {
    text-align: center;
    display: block;
    margin: 175px 30px 0 20px;
    width: 100%;
  }
  .sub .article_04 .spot_04 figure img {
    width: 100%;
    height: 50%;
  }
  .sub .article_04 .spot_04 figure figcaption {
    margin-top: 0;
  }
  .sub .article_04 .spot_04 figure figcaption span {
    font-family: 'Noto Sans KR';
    font-weight: bolder;
    color: #6c6c6c;
    font-size: 12px;
    margin: 5px 0;
    display: inline-block;
  }
  .sub .article_04 .spot_04 figure figcaption h2 {
    font-size: 16px;
    margin: 10px 0;
    font-family: 'Marcellus', serif;
    color: #000;
  }
  .sub .article_04 .spot_04 figure figcaption p {
    font-family: 'Noto Sans KR';
    color: gray;
    font-size: 11px;
  }
  .sub .article_04 .spot_04 figure figcaption a {
    display: inline-block;
    margin-top: 5px;
    font-family: 'Noto Sans KR';
    color: #6c6c6c;
  }
  .sub .article_05 {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background: #fff;
  }
  .sub .article_05 .spot_05 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .sub .article_05 .spot_05 figure {
    text-align: center;
    display: block;
    margin: 175px 30px 0 20px;
    width: 100%;
  }
  .sub .article_05 .spot_05 figure img {
    width: 100%;
    height: 50%;
  }
  .sub .article_05 .spot_05 figure figcaption {
    margin-top: 0;
  }
  .sub .article_05 .spot_05 figure figcaption span {
    font-family: 'Noto Sans KR';
    font-weight: bolder;
    color: #6c6c6c;
    font-size: 12px;
    margin: 5px 0;
    display: inline-block;
  }
  .sub .article_05 .spot_05 figure figcaption h2 {
    font-size: 16px;
    margin: 10px 0;
    font-family: 'Marcellus', serif;
    color: #000;
  }
  .sub .article_05 .spot_05 figure figcaption p {
    font-family: 'Noto Sans KR';
    color: gray;
    font-size: 11px;
  }
  .sub .article_05 .spot_05 figure figcaption a {
    display: inline-block;
    margin-top: 5px;
    font-family: 'Noto Sans KR';
    color: #6c6c6c;
  }
  .sub .article_06 {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background: #fff;
  }
  .sub .article_06 .spot_06 {
    margin: 200px 0 0 20px;
    display: block;
  }
  .sub .article_06 .spot_06 div {
    margin-right: 50px;
  }
  .sub .article_06 .spot_06 div p {
    font-family: 'Noto Sans KR';
    color: gray;
    display: block;
    margin: 30px 0;
    font-size: 12px;
  }
  .sub .article_06 .spot_06 div a {
    color: #000;
    font-weight: bold;
    font-family: 'Noto Sans KR';
    display: block;
    margin-right: 5px;
    font-size: 16px;
  }
  .sub .article_06 .spot_06 div:nth-of-type(3) {
    margin-left: 0;
    display: none;
  }
  .sub footer {
    position: fixed;
    padding-top: 70%;
  }
  .sub footer nav {
    margin-bottom: 300px;
  }
  .sub footer nav a {
    margin-left: 13px;
    position: relative;
    color: black;
  }
  .sub footer nav a::after {
    content: '';
    width: 0;
    height: 1px;
    background: #000;
    -webkit-transition: .7s;
    transition: .7s;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .sub footer nav a:hover::after {
    width: 100%;
  }
}
/*# sourceMappingURL=sub.css.map */