@import url('common.css');

@mixin flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header{
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top:0; left:0; z-index:10;
    article{
        @include flex;
        padding: 20px 40px;
        h2{font-size: 35px; 
            a{color: #000;}
            }
        nav{
            display: flex;
            ul{
                li{
                    position: relative;
                    a{  color: #000;
                        position: relative;
                        &::after{
                            content: '';
                            width: 0; height: 1px;
                            background: #000;
                            transition: .7s;
                            position: absolute;
                            bottom: 0; left: 0;
                        }
                        &:hover::after{
                            width: 100%;
                        }
                        img{
                            width: 5%;
                            margin:7px 0 0 12px;
                            transform: rotate(0deg);
                            transition: .5s;
                        }
                        &:hover img{transform: rotate(180deg);}
                    }
                    ul{
                        position: absolute; 
                        left:0;
                        display: none;
                        transition: .5s;
                    }
                    &:hover ul{display: block;}
                    li{margin-top: 25px;}
                }
                &:nth-child(3){margin-right:50px;} 
            }
        }
        p{padding: 0 30px;
            a{margin-right: 80px;
                b{margin-left: 40px;
                    &:nth-child(1){text-decoration: underline;}
                }
            }
            span{
                display: inline-block;
                width: 100px; height: 40px;
                border-radius: 20px;
                background: #fff;
                text-align: center;
                line-height: 40px;
                img{
                    width: 17%;
                    margin:15px 0 0 8px;
                }
            }
        }

    }
} 
.sub{
   width:100vw;height:100vh;
   overflow:hidden;
   position:relative;
    .sub_01{
        .article_01{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            z-index: -1;
        }
        .spot_01{
            padding: 250px 0 0 30px;
            span{display: inline-block; margin-bottom: 40px;}
            h2{white-space: pre-line;
                font-size: 55px; margin-bottom: 30px;
            }
            p{font-family: 'Noto Sans KR';
                font-weight: bold;
                margin-top: 20px;
            }
        }
    }
    .sub_02{
        height:100vh;
        transform: translateX(100vw);
        background: #fff;
        position:absolute;left:0%; top:0;
        display:flex;
        // flex-wrap: nowrap;
        z-index: 2;

        transition:.7s ease-in-out;
        &::-webkit-scrollbar{
            display:none;
        }
    }
    .sub_02 > div{
        flex:0 0 auto;
    }

    .article_02{
        width: 100vw; height:100vh;
        // position:absolute;left:65%; top:0;
        display:flex;
        background: #fff;
        .spot_02{
            margin: 350px 0 0 50px; width: 50%; height: 50%;
            span{color: rgb(191, 186, 165); font-weight: bold; font-family: 'Noto Sans KR';}
            h2{color:#000; font-size: 60px;font-family: 'Shippori Mincho', serif; margin: 40px 0;}
            p{color: rgb(81, 80, 80); font-size: 16px; margin: 10px 0; font-family: 'Noto Sans KR';}
            a{color:rgb(191, 186, 165);; display: inline-block; margin: 30px 0; 
                img{width: 3%; }
            }
        }    
        img{
            width: 50%; height: 80%; 
            margin:80px 0 0 100px;
        }
        
    } 
    .article_03{
        width: 100vw; height:100vh;
        // position:absolute;left:65%; top:0;
        display:flex;
        flex-wrap: nowrap;
        background:#fff;
        .ment_03{
            width: 20%;
            margin:400px 0 0 30px;
            span{font-size: 18px; font-family: 'Noto Sans KR'; color: #000;}
            h2{font-size: 50px; color: #000;}
        }
        .spot_03{
            display: flex;
            width: 100%;
            figure{
                display: flex;
                margin-top: 200px;
                width: 100%;
                img{width: 60%; height: 70%;}
                figcaption{
                    margin-top: 220px;
                    span{font-family: 'Noto Sans KR'; font-weight: bolder; color: rgb(108, 108, 108);}
                    h2{font-size: 35px; margin: 10px 0; font-family: 'Marcellus', serif;}
                    p{font-family: 'Noto Sans KR'; color: gray;} 
                    a{ display: inline-block; margin-top: 35px; font-family: 'Noto Sans KR'; color: rgb(108, 108, 108);}
                }
            }
        }
    } 
    .article_04{
        width: 100vw; height:100vh;
        // position:absolute;left:65%; top:0;
        display:flex;
        flex-wrap: nowrap;
        background: #fff;
        .spot_04{
            display: flex;
            width: 100%;
            figure{
                display: flex;
                margin: 230px 30px 0 30px;
                width: 50%;
                img{width: 53%; height: 70%;}
                figcaption{
                    margin-top: 200px;
                    span{font-family: 'Noto Sans KR'; font-weight: bolder; color: rgb(108, 108, 108);}
                    h2{font-size: 35px; margin: 10px 0; font-family: 'Marcellus', serif;}
                    p{font-family: 'Noto Sans KR'; color: gray; font-size: 14px;}
                    a{display: inline-block; margin-top: 35px; font-family: 'Noto Sans KR'; color: rgb(108, 108, 108);}
                }
            }
        }
    }
    .article_05{
        width: 100vw; height:100vh;
        // position:absolute;left:65%; top:0;
        display:flex;
        flex-wrap: nowrap;
        background: #fff;
        .spot_05{
            display: flex;
            width: 100%;
            figure{
                display: flex;
                margin: 230px 30px 0 30px;
                width: 50%;
                img{width: 53%; height: 70%;}
                figcaption{
                    margin-top: 200px;
                    span{font-family: 'Noto Sans KR'; font-weight: bolder; color: rgb(108, 108, 108);}
                    h2{font-size: 35px; margin: 10px 0; font-family: 'Marcellus', serif;}
                    p{font-family: 'Noto Sans KR'; color: gray; font-size: 14px;}
                    a{display: inline-block; margin-top: 35px; font-family: 'Noto Sans KR'; color: rgb(108, 108, 108);}
                }
            }
        }
    }
    .article_06{
        width: 100vw; height:100vh;
        // position:absolute;left:65%; top:0;
        display:flex;
        flex-wrap: nowrap;
        background: #fff;
        .spot_06{
            margin:400px 0 0 250px;
            display: flex;
            
            div{
                margin-right: 200px;
                p{font-family: 'Noto Sans KR'; color: gray;}
                a{
                    color: #000; 
                    font-weight: bold; 
                    font-family: 'Noto Sans KR';
                    display: inline-block; 
                    margin-right: 20px;
                }
                &:nth-of-type(3){margin-left: 150px;}
            }
        }
            
    } 





    footer{
        position: fixed; 
        padding-top: 20%;
        nav{margin-bottom: 100px;
            a{margin-left: 30px; position: relative; color: #000;
                &::after{
                    content: '';
                    width: 0; height: 1px;
                    background:#000;
                    transition: .7s;
                    position: absolute;
                    bottom: 0; left: 0;
                }
                &:hover::after{
                    width: 100%;
                }
            }
        }
    }
}

@import '_res2';